*{
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

body{
    background-color: black;
    color: #33A8DB;
    font-family: Arial,sans-serif; 

}
h1{
    text-transform: uppercase;
    font-size: 45px;
    font-weight: bold;

}

h2{
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 10px;
}

p{
    white-space: break-spaces;
}

button{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: transparent;
    color:#33A8DB;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:20px;
    font-weight: bold;
    border: 1px solid #33A8DB;
}

.banner {
  text-align: center;
  border-bottom: 5px solid #33A8DB;
  
}

.banner-content{
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../images/banner.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

.banner-content p{
    
    color: white;
}

main #course-content p{
    color: white;
}

main .modules-list{
    color:white;
}

main .modules-list span{
    color:#33A8DB;
}

main{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border-bottom: 5px solid #33A8DB;
}

 main #transform-world{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 300px;
    width: auto;
    text-align:left;
    text-transform: lowercase;
    text-indent: 60px;
    font-size: 45px;
    color:white;
    border-bottom: 2px solid #33A8DB;
    background-image: url("../images/woman-code.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


main #professional-challenges p{
    color: white;
}
footer{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color:white;
}

footer a{
    color:#33A8DB;
}