*{
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

body{
    background-color: black;
    color: #33A8DB;
    font-family: Arial,sans-serif; 

}
h1{
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 800;

}
.logo{
    /*conteudo copiado da solucao*/
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .2);
    height: 260px;
    width: 260px;
    margin: auto;
    border-radius: 50%;
    padding: 16px;
    margin-bottom: 16px;
}

h2{
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 10px;
}

button{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: transparent;
    color:#33A8DB;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:20px;
    font-weight: bold;
    border: 1px solid #33A8DB;
}

.banner {
  text-align: center;
  border-bottom: 5px solid #33A8DB;
  
}

.banner-content{
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../images/banner.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

.banner-content p{
    
    color: white;
}

main #course-content p{
    color: white;
}

main .modules-list{
    color:white;
}

main .modules-list .module{
    /*conteudo copiado da solução apresentada*/
  color: white;
  width: 530px;
  margin: 0 auto 24px;
  border: 1px solid #33A8DB;
  background-color: #252525;
  padding: 16px;
  border-radius: 100px;
  box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
}

main .modules-list span{
    color:#33A8DB;
}

main{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border-bottom: 5px solid #33A8DB;
}

 main #transform-world{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    height: auto;
    width: 100vw;
    border-top: 2px solid #33A8DB;
    border-bottom: 2px solid #33A8DB;
    background-image: url("../images/woman-code.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main #transform-world p{
    max-width: 250px;/*copiado da solução apresentada*/
    font-weight: 900;
    text-transform: lowercase;
    text-shadow: 3px 1px 1px #33A8DB;
    font-size: 35px;
    color:white;
}

main #professional-challenges p{
    color: white;
}
footer{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color:white;
}

footer a{
    color:#33A8DB;
    font-weight: bold;
}